body {
    background-color: #CCEEFF;
}

/* https://stackoverflow.com/questions/22494931/float-div-on-right-then-drop-below-on-narrow-screen */
.container {
    width: 90%;
    display: inline-block;
}

.container > .divleft {
    width: 48%;
    float: left;
    position: relative;
}

.container > .divright {
    min-width: 800px;
    width: 52%;
    float: left;
    /* https://stackoverflow.com/a/7018415 */
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

svg {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-color: white;
}

h3 {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

button {
    background-color: lightsteelblue;
}